{% extends "admin/change_list.html" %}
{% block object-tools-items %}
{% load staticfiles %}
<script src="{% static "climateanalyser/js/update_all_cache.js" %}"></script>
<link rel="stylesheet" href="{% static "climateanalyser/css/admin.css" %}" />
{{ block.super }}
<li>
   <div id="update_cache_blanket" class="loading_blanket"><p>Updating cache... Please wait.</p></div>
   <a href="#" id="update_datafile_cache" class="grp-state-focus" class="addlink">Update Datafile Cache</a>
</li>
{% endblock %}
